<div id="<%= dom_id movie %>">
  <div>
    <strong>Title:</strong>
    <%= movie.title %>
  </div>

  <div>
    <strong>Rating:</strong>
    <%= movie.rating %>
  </div>

  <div>
    <strong>Release date:</strong>
    <%= movie.release_date %>
  </div>

</div>
